script(type='text/javascript', src='scripts/lib/jquery-1.7.1.min.js')
script(type='text/javascript', src='scripts/lib/jquery.tmpl.js')
script(type='text/javascript', src='scripts/lib/json2.js')
script(type='text/javascript', src='scripts/lib/date-format.js')
script(type='text/javascript', src='scripts/lib/underscore.min.js')
script(type='text/javascript', src='scripts/lib/backbone.min.js')
script(type='text/javascript', src='scripts/lib/socket.io.min.js')

