script(type='text/javascript', src='scripts/lib/jquery-1.7.1.js')
script(type='text/javascript', src='scripts/lib/jquery.tmpl.js')
script(type='text/javascript', src='scripts/lib/json2.js')
script(type='text/javascript', src='scripts/lib/date-format.js')
script(type='text/javascript', src='scripts/lib/underscore.js')
script(type='text/javascript', src='scripts/lib/backbone.js')

