div#alog-app 
  div.container
    div.title
      h2= title
  
    div#content.content
      div#sidebar.sidebar

      div#main
        div#create-item.create-item
          input(id='add-item', placeholder='got something to log? (enter to add)', type='text')

        div#items.items
          ul#item-list.item-list
