!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/base.css')

    // use the mobile portrait media for now
    link(rel='stylesheet', href='/stylesheets/skeleton.css', media='only screen and (max-width: 767px)')
    //link(rel='stylesheet', href='/stylesheets/skeleton.css')

    link(rel='stylesheet', href='/stylesheets/style.css')

    // -TODO: bundle all javascripts
    script(type='text/javascript', src='scripts/lib/jquery-1.7.1.js')
    script(type='text/javascript', src='scripts/lib/jquery.tmpl.js')
    script(type='text/javascript', src='scripts/lib/json2.js')
    script(type='text/javascript', src='scripts/lib/date-format.js')
    script(type='text/javascript', src='scripts/lib/underscore.js')
    script(type='text/javascript', src='scripts/lib/backbone.js')
    script(type='text/javascript', src='/all.js')

    // templates
    script(type='text/x-jquery-tmpl', id='item-template')
      span.item-date ${date} 
      input.repost(type='button', value='repost')
      input.delete(type='button', value='delete')
      span.item-text ${text}

  body!= body
