!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/base.css')
    link(rel='stylesheet', href='/stylesheets/layout.css')
    link(rel='stylesheet', href='/stylesheets/skeleton.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    // -TODO: bundle all javascripts
    script(type='text/javascript', src='scripts/lib/jquery-1.7.1.js')
    script(type='text/javascript', src='scripts/lib/jquery.tmpl.js')
    script(type='text/javascript', src='scripts/lib/json2.js')
    script(type='text/javascript', src='scripts/lib/date-format.js')
    script(type='text/javascript', src='scripts/lib/underscore.js')
    script(type='text/javascript', src='scripts/lib/backbone.js')
    script(type='text/javascript', src='/all.js')

    // templates
    script(type='text/x-jquery-tmpl', id='item-template')
      span.item-date ${date}
      span.item-text ${text}

  body!= body
