.create-item input
  width 100%
  padding-left 0
  padding-right 0
  text-align center
  border 1px solid gray
  font 16px HelveticaNeue, Helvetica

.item-list li
  font-family: Georgia, "Times New Roman", Helvetica, Arial, sans-serif
  border 1px solid gray
  background-color #DCDCDC
  padding 5px

  .item-date
    font-size 14px
    color #009ACD
    display block

  .item-text
    font-size 21px
    margin-top 5px
    display block
