script(type='text/x-jquery-tmpl', id='main-template')
  div#center.sixteen.columns.center
    div#create-item.create-item
      input(id='add-item', placeholder='got something to log? (enter to add)', type='text')

    div#items.items
      ul#item-list.item-list
